input {
  file {
    path => "{{ kibana_log_dir }}/*.log"
    type => "kibana"
  }
{% if ansible_os_family == "Debian" %}
  file {
    path => "/var/log/upstart/kibana*.log"
    type => "kibana"
  }
{% endif %}
}
