# {{ ansible_managed }}

upstream kibana {
  server localhost:{{kibana_port}};
}

server {
    listen              443 ssl;
    include             {{ kibana_ssl_params }};
    server_name         {{ kibana_fqdn }};

    access_log          {{ kibana_log_dir }}/nginx.access.log;
    error_log           {{ kibana_log_dir }}/nginx.error.log;
    
    location / {
        include    {{ kibana_proxy_params }};
        include    {{ kibana_firewall_rules }};
        proxy_pass http://kibana;
    }
}
