description "kibana"

exec 2>&1

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

console log

setuid {{ kibana_user  }}
setgid {{ kibana_group }}

env BABEL_CACHE_PATH=/tmp/kibana-babel

chdir {{ kibana_home_dir }}
script
  exec ./bin/kibana --config {{kibana_conf_dir}}/kibana.yml
end script  
